* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

@font-face {
  font-family: 'NEXEN_TIRE_Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/NEXEN_TIRE_Bold.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
body {
  /* A143FF */
  background-color: rgb(161, 67, 255, 0.5);
  font-family: 'Jeju Gothic', sans-serif;
}
