.dashboard_container {
  text-align: center;
  padding: 0;
  padding-top: 1rem;
  width: 70rem;
  margin: 0 auto;
}

.dashboard_area_lable {
  text-align: left;
  font-size: 2rem;
  color: #ffec40;
  margin-bottom: 1rem;
}

.dashboard_area {
  background-color: rgb(217, 217, 217, 0.5);
  border-radius: 15px;
  height: 400px;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.tokens_area {
  width: 400px;
  height: 368px;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

.tokens_lable {
  display: flex;
}

.tokens_lable span {
  margin-top: 3px;
}

#deposit_btn {
  background-color: #8000ff;
  border: none;
  width: 120px;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px #000;
  white-space: nowrap;
  margin-top: 0.4rem;
  margin-bottom: 0.8rem;
}

#deposit_btn:hover {
  background-color: #9831ff;
}

.deposit_tokens {
  background-color: rgb(255, 254, 254, 0.5);
  border-radius: 15px;
  width: 360;
  flex-grow: 1;
  margin-top: 7px;
  padding: 10px 20px;
  line-height: 45px;
}

.token_column {
  display: flex;
  gap: 10px;
  border-bottom: 1px black solid;
  padding: 0 20px;
  margin-top: 5px;
  font-size: 1.2rem;
}
