.main_container {
  text-align: center;
  color: #fff;
  display: grid;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.main_grid:nth-child(1) {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.main_grid {
  background-color: rgb(48, 47, 47);
  border: 1px solid rgb(87, 84, 84);
  overflow: hidden;
  height: 400px;
}

.main_move_btn {
  position: absolute;
  top: 15%;
  right: 4%;
  color: #999;
}

.main_move_btn:hover {
  color: #777;
}

.main_detail {
  height: 200px;
}
