.main_container {
  text-align: center;
  color: #fff;
  padding: 50px;
}
.main_container div:first-of-type {
  text-align: left;
  font-size: 2rem;
  color: white;
}

.main_grid {
  background-color: rgb(217, 217, 217, 0.6);
  border-radius: 15px;
  overflow: hidden;
  height: 400px;
}
