.Menu-bar {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  width: 80px;
  background: white;
  height: 100%;
  overflow: auto;
  position: fixed;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Menu-bar li {
  text-decoration: none;
  padding: 10px 0;
  display: block;
  color: #ffc125;
  font-weight: bold;
}

.Menu-bar div {
  color: black;
}

.Menu-bar li:hover {
  background: #f1dcff;
  cursor: pointer;
}

li a.home {
  background: #333;
  color: #fff;
}
